**/target/

runtime-fuzzer/current_crashes/*
runtime-fuzzer/data/MOCK_SNAPSHOT
runtime-fuzzer/minimized/*
runtime-fuzzer/output/*
runtime-fuzzer/output.old/*

__pycache__/
memory_map.output

.idea/
.DS_Store
.env
